@font-face {
    font-family: Graffiti;
    src: url(../font/SpriteGraffiti-Regular.woff);
}

body {
    background-image: url(../images/old-concrete-wall.jpg);
    /* background-image: url(\assets\images\background.jpg); */
}

#my-name {
    margin-top: 40px;
    margin-bottom: 40px;
}

#my-name h1 {
    font-size: 80px;
    font-family: Graffiti;
    color: #b300b3;
    transform: rotate(-12deg);
}

#about-section {
    background-image: url(../images/poster-1.jpg);
}

#project-1 {
    background-image: url(../images/poster-2.jpg);
}

#project-2 {
    background-image: url(../images/poster-3.jpg);
}

#project-3 {
    background-image: url(../images/poster-4.jpg);
}